<h1>Add new Category</h1>

<form #f="ngForm" (ngSubmit)="onCreate(categoryName)">
    <div class="form-group">
        <label for="categoryName">Category name</label>
        <input required pattern="[a-zA-Z ]*" ngModel #categoryName type="text" name="categoryName" #categoryName="ngModel" class="form-control">
        <div class="alert alert-danger" *ngIf="categoryName.touched && !categoryName.valid">Category name is required.</div>
        <div class="alert alert-danger" *ngIf="categoryName.touched && !categoryName.valid">Category name cannot be alphanumeric.</div>
    </div>
    <p>{{ f.value | json }}</p>
    <button class="btn btn-default" [disabled]="!f.valid">Save</button>
</form>

<hr/>
<ul class="list-group">
    <li *ngFor="let category of categories" class="list-group-item">
        {{category.id}} - {{category.categoryName}}
        <div class="pull-right">
            <span (click)="remove(category)" class="glyphicon glyphicon-remove"></span>
        </div>
    </li>
</ul>