<div class="col-md-4">
<form >
  <div class="form-group"><label for="description">
    Question Description
  </label>
    <input name="description" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="isAnswerYes">
        is answer yes?
      <input type="checkbox" name="isAnswerYes" class="form-control">
    </label>
  </div>
  <div class="form-group">
    
      <select name="categoryId" id=""><option value="" disabled>Choose category</option>
      </select>
    </div>
    <button class="btn btn-default" type="submit">Save</button>
</form>
</div>
